extends layout
block content
    .text-center
        h1.landing-heading 免费学习编码
        .spacer
        .row
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'http://7xjf2l.com2.z0.glb.qiniucdn.com/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                p.large-p 加入一个超过20万人的开发者社区
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'http://7xjf2l.com2.z0.glb.qiniucdn.com/landingIcons_learn.svg', alt='Learn to code and learn full stack JavaScript')
                p.large-p 一起进行编码挑战
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'http://7xjf2l.com2.z0.glb.qiniucdn.com/landingIcons_portfolio.svg', alt='Build a portfolio of apps for nonprofits')
                p.large-p  构建解决实际问题的应用
            .col-xs-12.col-sm-12.col-md-3
                img.img-responsive.landing-icon.img-center(src= 'http://7xjf2l.com2.z0.glb.qiniucdn.com/landingIcons_nonprofits.svg', alt='Help empower nonprofits with code')
                p.large-p 非营利编码授权
        .big-break
        .big-break
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") 开始学习编码 (完全免费)
                .button-spacer
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href="/nonprofits") 我的非营利组织需要编码帮助
        .spacer
        h2 作为特色:
        img.img-center.img-responsive(src='http://7xjf2l.com2.z0.glb.qiniucdn.com/as-seen-on.png')
        .spacer
        hr
        .spacer
        h2 开启一个作为软件工程师的职业生涯吧:
        .spacer
        .row
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/nsvNixW.jpg", alt="Meta's testimonial image")
                p.testimonial-copy 通过编码训练营,我构建了一个健壮和功能强大的Web App。这让我得到一个非常好的工作.
                h3 - Meta Hirschl
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/QPpjPac.jpg", alt="Brian's testimonial image")
                p.testimonial-copy 编码训练营对于像我这样的伤残退伍军人而言是一个非常好的培训途径，我已经收到了软件工作的Offer,我都还没完成呢!
                h3 - Brian Grant
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.testimonial-image.img-center(src="http://i.imgur.com/wjlDigg.jpg", alt="Maxim Orlov's testimonial image")
                p.testimonial-copy 我在免费编码训练营里从零开始学习Web开发，6个月后，我获得了作为后端工程师的第一份工作。
                h3 - Maxim Orlov
        .spacer
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-lg.btn-primary.btn-primary-ghost.btn-block(href='/stories') 倾听我们会员更多的声音
        .spacer
        .spacer
        hr
        .spacer
        h2 你将会学习以下技能:
        .spacer
        .row
            .text-center.negative-35
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-html5
                    h2.black-text HTML5
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-css3
                    h2.black-text CSS3
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-javascript
                    h2.black-text JavaScript
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.fa.fa-database.font-awesome-padding
                    h2.black-text Databases
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-github
                    h2.black-text Git & GitHub
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.ion-social-nodejs
                    h2.black-text Node.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='http://7xjf2l.com2.z0.glb.qiniucdn.com/react.svg')
                    h2.black-text React.js
                .col-xs-12.col-sm-12.col-md-3
                    .landing-skill-icon.custom-landing-skill-icon
                        img(src='http://7xjf2l.com2.z0.glb.qiniucdn.com/d3-logo.svg')
                    h2.black-text D3.js
        .spacer
        hr
        .spacer
        .col-xs-offset-0.col-sm-offset-1.text-left.large-p
            h2 这是为什么你就要加入我们现在开源社区:
            .spacer
            ul.large-li
                li.ion-code &thinsp; 你将会在我们的社区实时聊天室中得到帮助。
                li.ion-code &thinsp; 你将会遇到你城市里的其它编码人员。
                li.ion-code &thinsp; 你可以在你的浏览器或者手机上以你习惯的节奏学习编码。
                li.ion-code &thinsp; 你将会通过我们的交互课程和向导。
                li.ion-code &thinsp; 您将学习最先进的JavaScript全栈技术。
                li.ion-code &thinsp; 你将构建帮助非营利组件更高效的执行任务的项目。
                li.ion-code &thinsp; 你将会编写由真实用户使用的真实应用。
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signin") 从今天开始学习编码 (免费)
        script.
            challengeName = 'Home'
