extends ../layout
block content
    .text-center
        h2 你可以作用下列任何一个选项登录:
        a.btn.btn-lg.btn-block.btn-social.btn-github(href='/auth/github')
            i.fa.fa-github
            | 通过Github登录
        br
        p
            a(href="/email-signup") 或者使用你的邮箱地址进行在此注册.
        p
            a(href="/email-signin") 如果你已经使用你的邮箱注册过了，你可以在此登录.

    script.
      $(document).ready(function() {
        var method = localStorage.getItem('lastSigninMethod'),
          btnSelector = 'a.btn.btn-lg.btn-block.btn-social';
        if (method) {
          try {
            var obj = JSON.parse(method);
          } catch(e) {
            console.error('Invalid sign in object stored', method);
            return;
          }
          $.each($(btnSelector), function(i, item) {
            if (
              $(item).attr('href') === obj.methodLink &&
              $(item).hasClass(obj.methodClass)
            ) {
              $(item).addClass('active');
              $(item).attr('title', 'This is your last signin method');
              return false;
            }
          });
        }

        $(btnSelector).click(function() {
          var obj = {};
          $(this).removeClass('active');
          obj.methodClass = $(this).attr('class').split(' ').pop();
          obj.methodLink = $(this).attr('href');
          localStorage.setItem('lastSigninMethod', JSON.stringify(obj));
        });
      });
